body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    color: #5faee3;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #3498db;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #57aae1;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  #header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #384046;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #384046;
    text-decoration: none;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4f5a62;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #3498db;
  }
  
  .mobile-nav-toggle {
    color: #384046;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(33, 38, 42, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #384046;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #3498db;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #3498db;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    padding: 30px;
    border-radius: 6px;
    background: #57aae1;
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .services .icon-box h4 a {
    color: #fff;
    transition: 0.3s;
  }
  
  .services .icon-box p {
    text-align: center;
    line-height: 24px;
    font-size: 17px;
  }
  
  .services .icon-box:hover {
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  }
  
  #services .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #2386c8;
    text-transform: uppercase;
  }
  
  #services .btn:hover {
    background: #384046;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Button
  --------------------------------------------------------------*/
  .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #2386c8;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background: #384046;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Scan
  --------------------------------------------------------------*/
  .scan .icon-box {
    padding: 30px;
    align-items: center;
    border-radius: 6px;
    background: #57aae1;
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .scan .icon-box h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .scan .icon-box h4 a {
    color: #fff;
    transition: 0.3s;
  }
  
  .scan .icon-box p {
    text-align: center;
    line-height: 24px;
    font-size: 17px;
  }
  
  .scan .icon-box:hover {
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  }
  
  /*--------------------------------------------------------------
  # Scan Netstat
  --------------------------------------------------------------*/
  .scannetstat {
    padding: 30px;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .scannetstat h4 {
    color: #3498db;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .scannetstat h4 a {
    color: #fff;
    transition: 0.3s;
  }

  .scannetstat h5 {
    color: #384046;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
  }

  /*--------------------------------------------------------------
  # Scan Nmap
  --------------------------------------------------------------*/
  .scannmap {
    padding: 30px;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .scannmap h4 {
    color: #3498db;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .scannmap h4 a {
    color: #fff;
    transition: 0.3s;
  }

  .scannmap .box {
    width: 50%;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .scannmap .box h5 {
    color: #384046;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  /*--------------------------------------------------------------
  # Track
  --------------------------------------------------------------*/
  .track .icon-box {
    padding: 30px;
    align-items: center;
    border-radius: 6px;
    background: #57aae1;
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .track .icon-box h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .track .icon-box h4 a {
    color: #fff;
    transition: 0.3s;
  }
  
  .track .icon-box p {
    text-align: center;
    line-height: 24px;
    font-size: 17px;
  }
  
  .track .icon-box:hover {
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  }

  /*--------------------------------------------------------------
  # Track All
  --------------------------------------------------------------*/
  .trackall {
    padding: 30px;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .trackall h4 {
    color: #3498db;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  .trackall h4 a {
    color: #fff;
    transition: 0.3s;
  }

  .trackall .box {
    width: 50%;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .trackall .box h5 {
    color: #384046;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #444444;
    font-size: 14px;
    background: #f7fbfe;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  